.hero-wrapper {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  img {
    margin: 32px;
  }
  @media(max-width: 786px) {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
}
