<div class="slide-wrapper">
  <div class="slide-item-wrapper">
      <div class="slide-image" *ngFor="let slide of slider.slides; let i = index" >
        <img [@flyIn]="i === index && 'in'" [src]="slide.image" alt="">
        <span [@flyIn]="i === index && 'showText'">{{slide.title}}</span>
      </div>
  </div>
  <div class="slide-info-text">
    <h1>{{slider.description}}</h1>
    <div>
      <img class='prev-arrow' (click)="handlePrev()" [src]="slider.leftArrow">
      <img (click)="handleNext()" [src]="slider.rightArrow">
    </div>
  </div>
</div>
